.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
 .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
.banner  .swiper-slide:nth-child(1n) {
    /* background-color: rgb(206, 17, 17); */
    /* background-image: url('src/assets/banner-books/book12.png'); */
    background-image: url('https://imgur.com/a/avcPOOd');

  }
  
.banner  .swiper-slide:nth-child(2n) {
    background-image: url('https://imgur.com/lCZwq76');
  }
  
.banner  .swiper-slide:nth-child(3n) {
    background-image: url('https://imgur.com/UWNNahS');
  }
  
 .banner .swiper-slide:nth-child(4n) {
    background-image: url('https://imgur.com/Zy0xmIo');

  }
  
.banner  .swiper-slide:nth-child(5n) {
    background-image: url('https://imgur.com/iqrPO4X');

  }
  
